@import "tailwindcss";
input {
  &:focus {
    outline: none;
  }
}
button {
  transition: 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: white;
    color: black;
    transition: 0.3s ease-in-out;
  }
}
li {
  word-break: break-all;
}
li + li {
  border-top: 1px solid black;
  padding-top: 20px;
}
